{% load static %}


{% block content %}      



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'playground/styles.css' %}">


{% load crispy_forms_tags %}


<body>

<!--Login--> 
<div class="container py-5">
  <div class ="box">
  <h1 class = "text-center">Sign In</h1>
  <p class= "text-center"> to continue to account</p>
  <form method="POST" >
    {% csrf_token %}


    {% include 'messages.html' %} 

    {{ form.non_field_errors }}

          <div class="form-group">
            
              
              <input  required onkeyup="this.setAttribute('value', this.value);" type="UsernameField" name="username" value="">
              <label for="{{ form.username.id_for_label }}" >Username:</label>
              {{ form.username }}
              {{ form.username.errors }}

          </div>
          <div class="form-group">
            
              
              <input  required onkeyup="this.setAttribute('value', this.value);" type="forms.CharField" name="password" value="">
              <label for="{{ form.password.id_for_label }}">Password:</label>
              {{ form.password }}
              {{ form.password.errors }}
          </div>
            
              
              
                  <button class="btn btn-primary"  ID ="btnPrimary" type="submit">Next</button>
                  <button class = "btnClear" ID="btnClear"> <a href="/playground/signup">Create an account</a>.</button>
                
    
    
  </form>
  
 

  </div>
</div>



</body>

{% endblock %}
